.contentmain.about 
  = image_tag "about/leesathumb.png", :class => "aboutimg"

  %h1 About
  <iframe src="http://player.vimeo.com/video/36768684?portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  %p
    Leesa Evans is a true purveyor of style: from her work as a costume designer for film to her dedication as a private stylist to celebrities and professional clients alike. Her personal philosophy and professional inspiration draw from a lifelong commitment to fashion, individuality, and the art of storytelling. The daughter of a couture designer, Evans grew up in and around the fashion industry. She spent her formative years at fashion shows, mingling with noteworthy designers, and experiencing firsthand the intricacies of the fashion world. She went on to spend the first part of her career working alongside her mother, gaining extensive experience not only in design, but also in manufacturing and retail. However, it was not until she was given an opportunity to work with a costume designer that she found her true calling. Since that time, she has dedicated herself to the craft of costume and styling for film, commercial advertising, and celebrities.  Her work gives Leesa the ability to nurture her own passion for fabric, color and design; while at the same time instilling a sense of confidence, ownership and originality in every actor and private client she dresses.
  %p
    Leesa’s credits include films such as Bridesmaids, for which she was nominated for a Costume Designer Guild Award for Excellence in Contemporary Film; Get Him to the Greek, Forgetting Sarah Marshall, I Love You, Man, American Pie, Into the Blue, Scooby-Doo and Josie and the Pussycats.  She has more than 500 television commercials under her belt, including ones for clients like Coca Cola, AT&T, Verizon, HP, Samsung, GM, Ford, Mastercard, Porsche, and Kelloggs, among countless others.  And finally, her work with celebrities has been seen in such illustrious publications as Vanity Fair, Rolling Stone, People, Nylon and In-Style; as well as on the red carpets of events from the Academy Awards to the Grammys.
  %p
    Her design vision can next be seen in the upcoming film, The Five-Year Engagement starring Jason Segel and Emily Blunt; as well as This is 40 with an ensemble cast including Paul Rudd, Leslie Mann, Jason Segel, Melissa McCarthy & Megan Fox.
  = image_tag "about/cdgpresspic.jpeg", :width => 340
  = image_tag "about/save.jpg"
