.contentmain.about 
  = image_tag "about/leesathumb.png", :class => "aboutimg"

  %h1 About
  <iframe src="http://player.vimeo.com/video/36768684?portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque ante, auctor at facilisis vel, tincidunt in lacus. Duis accumsan ipsum sed enim tempus sit amet placerat arcu suscipit. Integer porta, nibh nec tincidunt tempor, ipsum est lobortis risus, eget congue diam odio sit amet turpis. Pellentesque posuere tortor pulvinar justo varius id eleifend lectus scelerisque. Proin hendrerit suscipit eros, ac mattis augue consequat non. 
  %p
    Donec ac nisi at ipsum vestibulum consequat eu eu augue. Duis vulputate, orci in varius ornare, quam enim molestie mauris, sit amet commodo risus urna in nibh. In hac habitasse platea dictumst. Nulla tellus turpis, malesuada eu vehicula ac, iaculis vel arcu. Cras sem urna, dictum a accumsan ut, aliquam eu dui.
  = image_tag "about/cdgpresspic.jpeg", :width => 340
  = image_tag "about/save.jpg"
