%section.blog_section
  = link_to press_path do
    = image_tag 'press.jpg', :class => 'img'
  .blog_content
    %article.blog_body
      %h1.blog_title Coming Soon
      %a{:href => "#", :onclick => "history.back();return false"} Back
