= link_to raw("&#171; Return to Behind The Scenes"), behind_the_scenes_path, :id => "returncategories"
.contentmain.about 
 
  %p.coming_soon Coming Soon
%section.categorysection
  .row
    %article.categoryitem
    
