%article.contentmain
  .categories
    %section.contact_info_section
      %h1.contact_info_header Celebrity Styling

      %article.contact_info_body
        %h1 The Magnet Agency
        = link_to 'themagnetagency.com', 'http://www.themagnetagency.com'
        .phone 
          %strong LA 
          323-297-0250
        .phone
          %strong NY
          212-352-3223

