= link_to raw("&#171; Return to Private Styling"), private_styling_path, :id => "returncategories"
.about
 %p.coming_soon_private_styling Everyone knows the old adage that tells us fashion is cyclical, and that clothing trends always come back… eventually. But as your private stylist, Leesa will give your closet the makeover it needs today. In addition to identifying items that are no longer relevant to your life, Leesa will assist you with alterations to give old favorites new life while incorporating fresh pieces that will quickly become go-to favorites. The end result will be a flawless, organized closet filled with effortlessly stylish clothes. You’ll never say, “I have nothing to wear!” again.
