= link_to raw("&#171; Return to Philosophy"), philosophy_path, :id => "returncategories"
.blog_section
  = link_to press_path do
    = image_tag 'press.jpg', :class => 'img'
  %article.blog_content
    .blog_body
      %h1.blog_title Coming Soon...
      %a{:href => "#", :onclick => "history.back();return false"} Back

