%section.contactinfo
  %h1.contacthead Contact Information

  %section.celebritystyling
    %h1 Celebrity Styling

    %article.contact
      %h1 The Magnet Agency
      = link_to 'themagnetagency.com', 'http://www.themagnetagency.com'
      .phone 
        %strong LA 
        323-297-0250
      .phone
        %strong NY
        212-352-3223

  %section.privatestyling
    %h1 Private Styling

    %article.contact
      = link_to 'inqueries@leesaevans.com', 'inqueries@leesaevans.com'

  %section.movies
    %h1 Movies

    %artice.contact
      %h1 United Talent Agency
      = link_to 'unitedtalent.com', "http://www.unitedtalent.com"
      .phone
        %strong LA
        310-246-6097
