%article.contentmain
  .categories
    %section.category
      = link_to image_tag('costume_design/movies.png'), movies_path
      %h1 Movies
    %section.category
      = link_to image_tag('costume_design/movie_poster.png'), movie_posters_path
      %h1 Movie Posters
    %section.category
      = link_to image_tag('costume_design/behind_the_scenes.png'), behind_the_scenes_path
      %h1 Behind the Scenes
