.about
  %p.coming_soon_private_styling Leesa knows that an amazing night out starts with an unforgettable outfit. Whether your event calls for formal or casual wear, Leesa will dress you to flawlessness. She has an eye for detail, focusing on the perfect fit as well as finishing-touch accessories to complete the look. Not only do Leesa’s clients look effortlessly stylish; they feel a deep sense of confidence and originality ensuring their special event will be forever remembered.
