= link_to raw("&#171; Return to Behind The Scenes"), behind_the_scenes_path, :id => "returncategories"
.contentmain.about 
  %h1 Get Him To The Greek

  %p 
    what an amazing experience shooting in 4 cities......
    London, LA, New York & Vegas!
    Russell, Jonah & Diddy were a delight and the
    super talented Rose Byrne was such fun to dress!
    

  %h2 my favorite greek poster shot by mark seliger
  = image_tag "behind_the_scenes/gethimtothegreek1.jpeg", :class => "aboutimg"

  %h2 jackie q's super tight video
  = image_tag "behind_the_scenes/gethimtothegreek2.jpeg", :class => "aboutimg"

  %h2 Russell's album.......
  = image_tag "behind_the_scenes/gethimtothegreek3.jpeg", :class => "aboutimg"
