%article.contentmain
  .categories
    %section.contact_info_section
      %h1.contact_info_header United Talent Agency
      .contact_info_body
        = link_to 'unitedtalent.com', "http://www.unitedtalent.com"
        %strong LA
        310-246-6097
