.contentmain.about
	%h1 Nominations & Awards 
	%p In 2011, Leesa was nominated for the Excellence in Contemporary Film Award by the Costume Designers Guild for her indelible contribution to one of the year's most talked-about comedies, Bridesmaids. Not only did Leesa create distinctive looks for the film’s characters, she called upon her early couture background to create a one-of-a-kind wedding dress, earning her this special recognition from her peers.
