.contentmain.about
  %h1 Philosophy
  %p
    Leesa's philosophy written by Russell Brand

  %p 
    The function of clothes, beyond covering our sexually evocative flesh, is to signify meaning. Vulnerability. Power. Wisdom. Rage. All can be demonstrated through a person’s style.
  %p 
    Clothes worn badly contradict the wearer’s nature and feel wrong. How many times have you seen someone and thought – “They should not be wearing that hat.” How many times have you left the house in an outfit that isn’t right for you and felt subtly uncool all day long?
  %p
    Leesa Evans aligns her client’s essence with the clothes she dresses them in. That is what a real stylist does. Through colour, fabric, texture and accessory, Leesa creates a symphonic truth, bringing to the surface and demonstrating the aspects of your character that you want the world to see. The aspects that you want to see when you look in the mirror.
  %p 
    Dressing should be simple and fun, not traumatic and time-consuming. Leesa facilitates this and elevates a more confident facet of you to march out into the world and elegantly get what you want.
  %p
    So beyond looking good and feeling cool, you brim with the confidence that comes from knowing that your attire is a demonstration of the most beautiful aspect of who you are.
  %p
    That is what style is. That is what a great stylist does.
  %p
    Leesa Evans is a great stylist. She helps you to show the world the beautiful part of you. And if that happens to be a lime green cape, purple boots and a cap with a feather—if Leesa dresses you in it— that must be who you are inside.
