= link_to raw("&#171; Return to Philosophy"), philosophy_path, :id => "returncategories"
.philanthropy_section
  %a{:href => "http://www.crowdrise.com"} crowdrise.com
  %a{:href => "http://www.dressforsuccess.com"} dressforsuccess.com

