%article.contentmain
  .categories
    %section.contact_info_section
      %h1.contact_info_header Private Styling

      %article.contact_info_body
        = link_to 'inqueries@leesaevans.com', 'inqueries@leesaevans.com'
