= link_to raw("&#171; Return to Behind The Scenes"), behind_the_scenes_path, :id => "returncategories"
.contentmain.about 
  %h1 This is Fourty

  %p 
    we had a  great summer with the adorable Paul Rudd
    and the entire Apatow family. This is 40  is a spin off
    of knocked up and equally if not more hilarious!
    The film is due out next Christmas!

  %h2 The Family
  = image_tag "behind_the_scenes/thisis401.jpeg", :class => "aboutimg"

  %h2 in the pool with chris, megan & jason
  = image_tag "behind_the_scenes/thisis402.jpeg", :class => "aboutimg"

  %h2 jason & leslie work out
  = image_tag "behind_the_scenes/thisis403.jpeg", :class => "aboutimg"
