a {
  text-decoration: none;
}

.aboutimg {
  margin-bottom: 20px;
  width: 340px;
}

.about {
  overflow: hidden;
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 5px;
  }

  p {
    font-size: 13px;
    margin: 0px auto 10px;
    line-height: 24px;
    width: 460px;
		&.coming_soon {
		 font-size: 46px;
		 padding: 19px;
     padding-bottom: 333px;
		}
  }
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;

  &.celebrity_styling, &.editorials, &.advertising, &.commercials {
    li.celebrity_styling {
      .highlight {display: block;}

  &.costume_design, &.movies, &.movie_posters, &.behind_the_scenes {
    li.costume_design {
      .highlight {display: block;}
    }
  }
  &.blog {
    li.blog {
      .highlight {display: block;}
    }
  }
  &.about, &.nominations_awards, .leesa, .press, .bio, .philosophy, .day_in_the_life_video {
    li.about {
      overflow: visible;
      .highlight {display: block;}
    }
  }
  &.contact {

      }
    }
  }
  &.private_styling, &.events, &.closets, &.lifestyle {
    li.private_styling {
      .highlight {display: block;}
    }
  }
  &.costume_design, &.movies, &.movie_posters, &.behind_the_scenes {
    li.costume_design {
      .highlight {display: block;}
    }
  }
  &.blog {
    li.blog {
      .highlight {display: block;}
    }
  }
  &.about, &.nominations_awards, .leesa, .press, .bio, .philosophy, .day_in_the_life_video {
    li.about {
      overflow: visible;
      .highlight {display: block;}
    }
  }
  &.contact {
    li.costume_design {
      .highlight {display: block;}
    }
  }
}

.contact_info_section {
  margin-bottom: 151px;
}

h1.contact_info_header {
  font-size: 39px;
  padding-bottom: 53px;
}

.contact_info_body {
  font-size: 24px;
}

h1.coming_soon {
  font-size: 46px;
  padding: 19px;
  padding-bottom: 382px;
}

p.coming_soon_private_styling {
  padding: 19px;
  padding-bottom: 382px;
}

.blog_title {
  position: relative;
  text-align: center;
  bottom: 466px;
  font-size: 69px;
  right: 163px;
}

.blog_section {
  img {
    position: relative;
    bottom: 47px;
  }
}

.category {
  float: left;
  margin-right: 30px;

  h1 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    &.placeholder {
      margin: 0;
      position: relative;
      bottom: 255px;
    }
  }

  img {
    border: 1px solid #000;
    width: 290px;
  }
}

.categoryitem {
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 10px;
  width: 316px;

  img {
    width: 100%;
  }

  canvas, img {
    border: 1px solid #ccc;
  }

  h1 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
}

.categoryitem {
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 10px;
  width: 316px;

  img {
    width: 100%;
  }

  canvas, img {
    border: 1px solid #ccc;
  }

  h1 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }

}

.categorysection {
  @include pie-clearfix;

  @extend .container;
}

#content {
  @include pie-clearfix;
}

.contactinfo {
  @extend .container;

  margin-left: 40px;
  margin-top: 20px;
  width: 980px;

  .contacthead {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .contact {
    line-height: 20px;
    strong {font-weight: 500;}
  }

  section {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;

    > h1 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      }
    }
}

.container {
  margin: 0px auto;
  width: 980px;
}

.contentmain {
  @include pie-clearfix;

  @extend .container;

  $common-margin: 50px;

  margin-bottom: $common-margin;
  margin-top: $common-margin;
}

#homecarousel {
  img {
    height: 501px;
  }
}

#mainheader {
  @include pie-clearfix;

  @extend .container;

  margin: 40px auto;

  a {
    color: #000; 
    text-decoration: none;
  }

  h1 {
    float: left;
    font-size: 61px;
    margin-right: 15px;
    text-transform: uppercase;
  }

  h2 {
    float: left;
    font-size: 22px;
    margin-top: 33px;
    text-transform: uppercase;
  }
}

#mainfooter {
  @include pie-clearfix;


  background-color: #1b1b1b;
  margin-top: -2px;
  padding: 7px 40px 8px;

  .footerlinks {
    @include pie-clearfix;

    @extend .container;

    a {
      color: #f3f3f3;
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
    }

    li {
      float: left;
      margin-right: 55px;
      position: relative;
    }
  }
}

.highlight {
  background: image-url("currenttab.png") no-repeat;
  display: none;
  height: 14px;
  position: absolute;
  top: -14px;
  width: 29px;
}

.personalemails {
  margin-bottom: 20px;
}

.presslinks {
  list-style: decimal-leading-zero;
  margin-bottom: 20px;

  li {
    margin-bottom: 5px;
  }
}

#returncategories {
  @extend .container;

  color: #000;
  display: block;
  margin-bottom: 10px;
  &:hover {
    text-decoration: underline;
  }
}

.row {
  @include pie-clearfix;

  margin-bottom: 20px;

  .categoryitem {
    &:last-child {margin-right: 0px;}
  }
}

#sociallinks {
  @include pie-clearfix;

  float: right;

  a {
    display: block;
    height: 19px;
    text-indent: -9999px;
    width: 19px;
    &.facebook {
      @extend .icon-facebook;
    }
    &.twitter {
      @extend .icon-twitter;
    }
  }

  li {
    float: left;
    margin-right: 10px;
  }
}
