a {
  text-decoration: none;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
}

.category {
  float: left;
  margin-right: 30px;

  h1 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }

  img {
    border: 1px solid #000;
    width: 290px;
  }
}

.categoryitem {
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 10px;
  width: 316px;

  img {
    width: 100%;
  }

  h1 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }

}

.categorysection {
  @include pie-clearfix;

  @extend .container;
}

#content {
  @include pie-clearfix;
}

.container {
  margin: 0px 40px;
  width: 980px;
}

.contentmain {
  @include pie-clearfix;

  @extend .container;

  $common-margin: 50px;

  margin-bottom: $common-margin;
  margin-top: $common-margin;
}

#mainheader {
  @include pie-clearfix;

  @extend .container;

  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;

  h1 {
    float: left;
    font-size: 61px;
    margin-right: 15px;
    text-transform: uppercase;
  }

  h2 {
    float: left;
    font-size: 22px;
    margin-top: 33px;
    text-transform: uppercase;
  }
}

#mainfooter {
  @include pie-clearfix;


  background-color: #1b1b1b;
  margin-top: -2px;
  padding: 7px 40px 8px;

  .footerlinks {
    @include pie-clearfix;

    @extend .container;

    margin-left: 0px;

    a {
      color: #f3f3f3;
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
    }

    li {
      float: left;
      margin-right: 55px;
    }
  }
}


#returncategories {
  color: #000;
  display: block;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-top: 20px;
  &:hover {
    text-decoration: underline;
  }
}

.row {
  @include pie-clearfix;

  margin-bottom: 20px;

  .categoryitem {
    &:last-child {margin-right: 0px;}
  }
}

#sociallinks {
  @include pie-clearfix;

  float: right;

  a {
    display: block;
    height: 19px;
    text-indent: -9999px;
    width: 19px;
    &.facebook {
      @extend .icon-facebook;
    }
    &.twitter {
      @extend .icon-twitter;
    }
  }

  li {
    float: left;
    margin-right: 10px;
  }
}
