a {
  text-decoration: none;
}

.aboutimg {
  margin-bottom: 20px;
  width: 340px;
}

.about {
  overflow: hidden;
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 5px;
  }

  p {
    font-size: 13px;
    margin: 0px auto 10px;
    line-height: 24px;
    width: 460px;
		&.coming_soon {
		 font-size: 46px;
		 padding: 19px;
     padding-bottom: 333px;
		}
  }
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;

  &.celebrity_styling, &.editorials, &.advertising, &.commercials {
    li.celebrity_styling {
      .highlight {display: block;}

  &.costume_design, &.movies, &.movie_posters, &.behind_the_scenes {
    li.costume_design {
      .highlight {display: block;}
    }
  }
  &.blog {
    li.blog {
      .highlight {display: block;}
    }
  }
  &.about, &.nominations_awards, .leesa, .press, .bio, .philosophy, .day_in_the_life_video {
    li.about {
      overflow: visible;
      .highlight {display: block;}
    }
  }
  &.contact {

      }
    }
  }
  &.private_styling, &.events, &.closets, &.lifestyle {
    li.private_styling {
      .highlight {display: block;}
    }
  }
  &.costume_design, &.movies, &.movie_posters, &.behind_the_scenes {
    li.costume_design {
      .highlight {display: block;}
    }
  }
  &.blog {
    li.blog {
      .highlight {display: block;}
    }
  }
  &.about, &.nominations_awards, .leesa, .press, .bio, .philosophy, .day_in_the_life_video {
    li.about {
      overflow: visible;
      .highlight {display: block;}
    }
  }
  &.contact {
    li.costume_design {
      .highlight {display: block;}
    }
  }
}

.contact_info_section {
  margin-bottom: 151px;
  text-align: center;
}

h1.contact_info_header {
  font-size: 39px;
  padding-bottom: 53px;
}

.contact_info_body {
  font-size: 24px;
}

h1.coming_soon {
  font-size: 46px;
  padding: 19px;
  padding-bottom: 382px;
}

p.coming_soon_private_styling_closets {
  padding: 19px;
  padding-bottom: 260px;
}

p.coming_soon_private_styling_lifestyle {
  padding: 19px;
  padding-bottom: 210px;
  }

p.coming_soon_private_styling_events {
  padding: 19px;
  padding-bottom: 305px;
  }


.row {

  img {
    height: 454px;
    width: 317px;
  }

}
.category {

  img {
  height: 418px;
  }
}
.blog_title {
  position: absolute;
  text-align: center;
  font-size: 69px;
  top: -13px;
  float: left;
  left: -380px;
}

.blog_body {
  margin-left: 369px;
  }

.blog_content {

  a {
    position: relative;
    top: 54px;
    left: 28px;
    color: black;

  }
  color: black;
  font-size: 30px;
  position: relative;
  bottom: 441px;
  left: 726px;
}

.bridesmaids_div {
  float: left;

  .bridesmaids {
    height: 331px;
    width: 480px;

    &.left {
      margin-right: 10px;
    }
  }
}

.coming_soon_title {
  float: left;
  text-align: center;
  font-size: 69px;
}

.coming_soon_section {

  margin-bottom: 397px;

  img {
    position: relative;
    height: 510px;
  }
}

.coming_soon_content{
  a {
    color: black;
    font-size: 30px;
    float: right;
    margin-right: 22px;
    }
}
.coming_soon_body {
  margin: 0 auto;
  width: 499px;
  height: 102px;
}



.category {
  float: left;
  margin-right: 30px;

  h1 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    &.placeholder {
      margin: 0;
      position: relative;
      bottom: 255px;
    }
  }

  img {
    border: 1px solid #000;
    width: 290px;
  }
}

.categoryitem {
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 10px;
  width: 316px;

  img {
    width: 100%;
  }

  canvas, img {
    border: 1px solid #ccc;
  }

  h1 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
}

.categoryitem {
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 10px;
  width: 316px;

  img {
    width: 100%;
  }

  canvas, img {
    border: 1px solid #ccc;
  }

  h1 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }

  p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: black;
  }

}

.categorysection {

  p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: black;
    margin-bottom: 22px;
    }

  @include pie-clearfix;

  @extend .container;
}

.contentmain {
  h1.press_header {
    text-align: center;
    margin-bottom: 45px;
    font-size: 43px;
  }

}

#content {
  @include pie-clearfix;
}

.contactinfo {
  @extend .container;

  margin-left: 40px;
  margin-top: 20px;
  width: 980px;

  .contacthead {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .contact {
    line-height: 20px;
    strong {font-weight: 500;}
  }

  section {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;

    > h1 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      }
    }
}

.container {
  margin: 0px auto;
  width: 980px;
}

.contentmain {
  @include pie-clearfix;

  @extend .container;

  $common-margin: 50px;

  margin-bottom: $common-margin;
  margin-top: $common-margin;
}

.highlight {
  background: image-url("currenttab.png") no-repeat;
  display: none;
  height: 14px;
  position: absolute;
  top: -14px;
  width: 29px;
}

#homecarousel {
  img {
    height: 501px;
  }
}

.i_love_you_man_alignment {
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 0px;
  width: 316px;
  margin-left: 130px;
  }

#mainheader {
  @include pie-clearfix;

  @extend .container;

  margin: 40px auto;

  a {
    color: #000; 
    text-decoration: none;
  }

  h1 {
    float: left;
    font-size: 61px;
    margin-right: 15px;
    text-transform: uppercase;
  }

  h2 {
    float: left;
    font-size: 22px;
    margin-top: 33px;
    text-transform: uppercase;
  }
}

#mainfooter {
  @include pie-clearfix;


  background-color: #1b1b1b;
  margin-top: -2px;
  padding: 7px 40px 8px;

  .footerlinks {
    @include pie-clearfix;

    @extend .container;

    a {
      color: #f3f3f3;
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
    }

    li {
      float: left;
      margin-right: 55px;
      position: relative;
    }
  }
}

#mainfooter_blog {
  @include pie-clearfix;

  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1b1b1b;
  padding: 7px 40px 8px;

  .footerlinks {
    @include pie-clearfix;

    @extend .container;

    a {
      color: #f3f3f3;
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
    }

    li {
      float: left;
      margin-right: 55px;
      position: relative;
    }
  }
}

#mainfooter_private_styling {
  @include pie-clearfix;

  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1b1b1b;
  padding: 7px 40px 8px 255px;

  .footerlinks {
    @include pie-clearfix;

    @extend .container;

    a {
      color: #f3f3f3;
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
    }

    li {
      float: left;
      margin-right: 55px;
      position: relative;
    }
  }
}


.personalemails {
  margin-bottom: 20px;
}

.philanthropy_section {
  text-align: center;
  margin: 94px 1px 360px 1px;
  font-size: 26px;

  a {
  clear: both;
  display:block;
  color: black;
  }
}

.placeholder {
  a {
  color: black;
  }
}

.presslinks {
  list-style: decimal-leading-zero;
  margin-bottom: 20px;

  li {
    margin-bottom: 5px;
  }
}

#returncategories {
  @extend .container;

  color: #000;
  display: block;
  margin-bottom: 10px;
  &:hover {
    text-decoration: underline;
  }
}

.row {
  @include pie-clearfix;

  margin-bottom: 20px;

  .categoryitem {
    &:last-child {margin-right: 0px;}

    h1.placeholder {
      margin: 0 35px;
      position: relative;
      bottom: 256px;
    }
  }
}

#sociallinks {
  @include pie-clearfix;

  float: right;

  a {
    display: block;
    height: 19px;
    text-indent: -9999px;
    width: 19px;
    &.facebook {
      @extend .icon-facebook;
    }
    &.twitter {
      @extend .icon-twitter;
    }
  }

  li {
    float: left;
    margin-right: 10px;
  }
}
